body {
  margin: 0;
  font-family: Arial;
  background: #fafafa;
}

/* TOP BAR IG */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #dbdbdb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.topbar input {
  width: 200px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.top-actions button {
  margin-left: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* CONTAINER */
.container {
  margin-top: 80px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* PROFILE */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-info h2 {
  margin: 0;
}

/* FEED */
.feed {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* POST IG STYLE */
.post {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.post-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.post-body {
  margin-top: 10px;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.post-actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-box {
  background: white;
  width: 300px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-box input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}